#intro {
    .p-text {
        left: 0;
        width: 480px;
        z-index: 1;
    }
    .p-logo {
        z-index: 1;
    }
    .p-img1,.p-img2,.p-img3 {
        z-index: 0;
    }
}

#branco {
    height: 1110px;
    &:before {
        content: url('../images/detail/branco/en.png');
        position: relative;
        top: 40%;
        left: -300px;
    }
    .p-text {
        top: 400px;
    }
    .p-logo {
        top: 250px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 500px;
        right: 0;
    }
    .p-img3 {
        top: 720px;
        left: 0;
    }
}

#brica {
    height: 1240px;
    &:before {
        content: url('../images/detail/brica/en.png');
        position: relative;
        top: 50%;
        left: -300px;
    }
    .p-text {
        top: 420px;
    }
    .p-logo {
        top: 295px;
        left: 0;
    }
    .p-img1 {
        top: 0;
        right: 0;
    }
    .p-img2 {
        top: 460px;
        right: 0;
    }
    .p-img3 {
        top: 810px;
        left: 0;
    }
}

#san65 {
    height: 1210px;
    &:before {
        content: url('../images/detail/365/en.png');
        position: relative;
        top: 48%;
        left: -300px;
    }
    .p-text {
        top: 440px;
    }
    .p-logo {
        top: 160px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 480px;
        right: 0;
    }
    .p-img3 {
        top: 785px;
        left: 0;
    }
}

#gafe {
    height: 1235px;
    &:before {
        content: url('../images/detail/gafe/en.png');
        position: relative;
        top: 50%;
        left: -300px;
    }
    .p-text {
        top: 495px;
    }
    .p-logo {
        top: 200px;
        left: 0;
    }
    .p-img1 {
        top: 0;
        right: 0;
    }
    .p-img2 {
        top: 510px;
        right: 0;
    }
    .p-img3 {
        top: 795px;
        left: 0;
    }
}

#doodle {
    height: 1220px;
    &:before {
        content: url('../images/detail/doodle/en.png');
        position: relative;
        top: 45%;
        left: -300px;
    }
    .p-text {
        top: 430px;
    }
    .p-logo {
        top: 250px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 470px;
        right: 0;
    }
    .p-img3 {
        top: 750px;
        left: 0;
    }
}

#careco {
    height: 1230px;
    &:before {
        content: url('../images/detail/careco/en.png');
        position: relative;
        top: 50%;
        left: -300px;
    }
    .p-text {
        top: 470px;
    }
    .p-logo {
        top: 190px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 520px;
        right: 0;
    }
    .p-img3 {
        top: 795px;
        left: 0;
    }
}

#irodori {
    height: 1230px;
    &:before {
        content: url('../images/detail/irodori/en.png');
        position: relative;
        top: 50%;
        left: -300px;
    }
    .p-text {
        top: 470px;
    }
    .p-logo {
        top: 370px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 500px;
        right: 0;
    }
    .p-img3 {
        top: 810px;
        left: 0;
    }
}