#intro {
    .p-text {
        left: 0;
        width: 480px;
        z-index: 1;
    }
    .p-logo {
        z-index: 1;
    }
    .p-img1,.p-img2,.p-img3 {
        z-index: 0;
    }
}

#branco {
    height: 1110px;
    .p-text {
        top: 400px;
    }
    .p-logo {
        top: 260px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 460px;
        right: 0;
    }
    .p-img3 {
        top: 710px;
        left: 0;
    }
}

#brica {
    height: 1200px;
    .p-text {
        top: 400px;
    }
    .p-logo {
        top: 295px;
        left: 0;
    }
    .p-img1 {
        top: 0;
        right: 0;
    }
    .p-img2 {
        top: 450px;
        right: 0;
    }
    .p-img3 {
        top: 790px;
        left: 0;
    }
}

#san65 {
    height: 1190px;
    .p-text {
        top: 410px;
    }
    .p-logo {
        top: 160px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 460px;
        right: 0;
    }
    .p-img3 {
        top: 760px;
        left: 0;
    }
}

#gafe {
    height: 1210px;
    .p-text {
        top: 470px;
    }
    .p-logo {
        top: 200px;
        left: 0;
    }
    .p-img1 {
        top: 0;
        right: 0;
    }
    .p-img2 {
        top: 490px;
        right: 0;
    }
    .p-img3 {
        top: 770px;
        left: 0;
    }
}

#doodle {
    height: 1160px;
    .p-text {
        top: 400px;
    }
    .p-logo {
        top: 250px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 430px;
        right: 0;
    }
    .p-img3 {
        top: 690px;
        left: 0;
    }
}

#careco {
    height: 1200px;
    .p-text {
        top: 440px;
    }
    .p-logo {
        top: 200px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 500px;
        right: 0;
    }
    .p-img3 {
        top: 780px;
        left: 0;
    }
}

#irodori {
    height: 1230px;
    .p-text {
        top: 450px;
    }
    .p-logo {
        top: 370px;
        right: 0;
    }
    .p-img1 {
        top: 0;
        left: 0;
    }
    .p-img2 {
        top: 500px;
        right: 0;
    }
    .p-img3 {
        top: 790px;
        left: 0;
    }
}