@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'intro';

/* 以下にスタイルを記述
************************* */

body {
	background-color: #eff2f5;
	letter-spacing: 1px;
	font-weight: bold;
	@include media(tb) {
		img {
			display: block;
			width: 96%;
			height: auto;
			margin: 0 auto;
		}
	}
}

.p-bg1,
.p-bg2,
.p-bg3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
	@include media(tb) {
		background-size: 300% !important;
	}
}

.p-bg1 {
	background: url("../images/common/bg1.png");
}

.p-bg2 {
	background: url("../images/common/bg2.png");
}

.p-bg3 {
	background: url("../images/common/bg3.png");
}

.media-pc {
	@include media(tb) {
		display: none;
	}
}
.media-tb {
	@include media(pc) {
		display: none;
	}
	@include media(minipc) {
		display: none;
	}
}

#banner {
	height: 53.125vw;
	@include media(tb) {
		height: 174vw;
	}
	@include media(sp) {
		height: 160vw;
	}
	background-color: #eff2f5;
	.symbols,
	.symbols-sp {
		min-width: 1100px;
		img {
			position: absolute;
			display: none;
			&.symbol_01 {
				top: 3vw;
				left: 3vw;
				width: 14.9vw;
				@include media(tb) {
					left: 4vw;
					width: 27vw;
				}
			}
			&.symbol_02 {
				top: 3vw;
				left: 19.5vw;
				width: 18vw;
				@include media(tb) {
					top: 3vw;
					left: 52vw;
					width: 45vw;
				}
			}
			&.symbol_03 {
				top: 21.5vw;
				left: 3vw;
				width: 16.4vw;
				@include media(tb) {
					top: 12vw;
					left: 35.5vw;
					width: 30vw;
				}
			}
			&.symbol_04 {
				top: 18vw;
				left: 18.5vw;
				width: 12.35vw;
				@include media(tb) {
					top: 33vw;
					left: 3vw;
					width: 24vw;
				}
			}
			&.symbol_05 {
				top: 37.5vw;
				left: 3vw;
				width: 20.083vw;
				@include media(tb) {
					top: 28.5vw;
					left: 30vw;
					width: 42vw;
				}
			}
			&.symbol_06 {
				top: 40.5vw;
				left: 27.5vw;
				width: 26.75vw;
				@include media(tb) {
					top: 25.5vw;
					left: 69vw;
					width: 30vw;
				}
			}
			&.symbol_07 {
				top: 40.5vw;
				right: 29vw;
				width: 12.833vw;
				@include media(tb) {
					top: 84vw;
					right: 73.2vw;
					width: 23vw;
				}
			}
			&.symbol_08 {
				top: 40.5vw;
				right: 3vw;
				width: 22.75vw;
				@include media(tb) {
					top: 104vw;
					right: 25vw;
					width: 45.6vw;
				}
			}
			&.symbol_09 {
				top: 19.5vw;
				right: 3vw;
				width: 12vw;
				@include media(tb) {
					top: 87.5vw;
					right: 2.2vw;
					width: 21vw;
				}
			}
			&.symbol_10 {
				top: 21vw;
				right: 19vw;
				width: 11.916vw;
				@include media(tb) {
					top: 119vw;
					right: 62.2vw;
					width: 34vw;
				}
			}
			&.symbol_11 {
				top: 7.5vw;
				right: 3vw;
				width: 27.2vw;
				@include media(tb) {
					top: 116vw;
					right: 30.5vw;
					width: 26.5vw;
				}
			}
			&.symbol_12 {
				top: 3vw;
				right: 8.5vw;
				width: 25.48vw;
				@include media(tb) {
					top: 121vw;
					right: 3vw;
					width: 25.5vw;
				}
			}
		}
	}
	.title {
		$area: 36.955vw;
		width: $area;
		height: $area;
		position: absolute;
		top: 4vw;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		.takuten {
			width: 92.6%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: 0% 0%;
			transform: translate(-50%, -50%);
		}
		.dots {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: 0% 0%;
			transform: translate(-50%, -50%);
			animation: rotation 50s linear infinite;
			@include media(tb) {
				animation: none;
			}
		}
		@keyframes rotation {
			from {
				transform: rotate(0deg) translate(-50%, -50%);
			}
			to {
				transform: rotate(360deg) translate(-50%, -50%);
			}
		}
		@include media(tb) {
			$area: 51vw;
			width: $area;
			height: $area;
			top: 48vw;
		}
	}
}

$sidebar: 330px;
#main {
	width: calc(100% - #{$sidebar});
	float: right;
	@include media(minipc) {
		width: 870px;
		float: none;
		margin: 0 auto;
	}
	@include media(tb) {
		width: 100%;
		float: none;
	}
	.main-inner {
		width: 870px;
		@include media(tb) {
			width: 95%;
		}
		margin: 0 auto;
	}
	h2 {
		margin: 15px 0 50px 0;
		text-align: center;
		@include media(tb) {
			margin: 15px 0 60px 0;
			img {
				width: 54%;
				max-width: 272px;
				height: auto;
			}
		}
	}
}

.about {
	p {
		margin: 30px 0;
		line-height: 2.1em;
	}
	table {
		td {
			padding: 7px 0;
			text-shadow: 3px 2.5px 0 rgba(255,255,255,1);
		}
		a {
			color: $blue;
		}
	}
	@include media(tb) {
		h3 {
			text-align: center;
			img {
				max-width: 627px;
			}
		}
		p,
		table {
			width: 95%;
			margin: 30px auto;
		}
	}
}

.map {
	margin: 50px 0;
	.floor-map {
		text-align: center;
	}
	@include media(tb) {
		.media-tb img {
			max-width: 718px;
		}
	}
}

.intro {
	.intro-detail {
		position: relative;
		opacity: 0;
		.p-text,
		.p-logo,
		.p-img1,
		.p-img2,
		.p-img3 {
			position: absolute;
			@include media(tb) {
				position: static;
			}
			img {
				width: 92%;
				@include media(tb) {
					width: 95%;
				}
				height: auto;
			}
		}
		.intro-text {
			h3 {
				font-size: 29px;
				margin: .8em 0 .7em 0;
				text-shadow: 4px 4px 0 rgba(255, 255, 255, 1);
				line-height: 1.1em;
			}
			p {
				line-height: 1.95em;
				text-align: justify;
			}
		}
	}
}

.access {
	padding-bottom: 100px;
	.googlemap {
		width: 88%;
		height: 350px;
		margin: 0 auto;
		background-color: #eee;
	}
	.bus-recommend {
		width: 88%;
		margin: 36px auto 12px auto;
		.bus-icon {
			display: inline-block;
			vertical-align: top;
			padding: 1px 5px 0 0;
			@include media(tb) {
				img {
					max-width: 26px;
				}
			}
		}
		.bus-detail {
			margin: 16px 0 0;
			@include media(tb) {
				img {
					width: 100%;
				}
			}
		}
	}
}

#sidebar {
	@include media(minipc) {
		display: none;
	}
	@include media(tb) {
		display: none;
	}
	width: 330px;
	position: absolute;
	padding-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	.progress {
		position: relative;
		.progress-title {
			width: 155px;
			position: relative;
			padding-top: 20px;
			padding-left: 20px;
			z-index: 1;
		}
		.progress-dots {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			circle {
				fill: #e1e6e6;
				r: 4.5;
				transition: .3s ease;
				transition-property: fill, r;
				&.visible {
					fill: #053077;
				}
				&.now {
					r: 7;
				}
				&:hover {
					r: 7;
					fill: #053077;
				}
			}
		}
	}
	.gnav {
		font-size: 13px;
		letter-spacing: 1.9px;
		position: relative;
		top: 82px;
		left: 65px;
		li {
			width: 90px;
			margin: 28px 0;
			text-align: center;
			&.social {
				a img {
					padding: 5px;
					max-width: 30px;
					max-height: 30px;
					transition: opacity .2s ease;
					&:hover {
						opacity: .85;
					}
				}
			}
		}
		a {
			padding-bottom: 2px;
			color: $base-font-color;
			text-decoration: none;
			text-shadow: 2.5px 2.5px 0 rgba(255, 255, 255, 1);
		}
	}
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
	&.static {
		position: static;
	}
}

#nav-sp {
	display: none;
	@include media(pc) {
		display: none !important;
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	z-index: 10;
	h1 {
		position: absolute;
		left: 0;
		right: 0;
		img {
			width: 125px;
			height: auto;
		}
	}
	.trigger {
		position: absolute;
		right: 0;
		z-index: 1;
		width: 50px;
		height: 50px;
		background: $blue;
		text-align: center;
		img {
			width: 23px;
			padding: 13px 0 0 2px;
		}
	}
}
.gnav-sp {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100vw;
	height: 100vh;
	background-color: rgba(100,100,100,.75);
	padding-top: 50px;
	display: none;
	.gnav-sp-menu {
		li {
			box-sizing: border-box;
			float: left;
			width: 25%;
			height: 25vw;
			background-color: $blue;
			border: 0.5px solid #1b1966;
			text-align: center;
			letter-spacing: 0.3em;
			line-height: 1.8em;
			span {
				display: inline-block;
				margin-top: 6vw;
				vertical-align: middle;
			}
		}
		a {
			display: block;
			height: inherit;
			font-size: 15px;
			text-decoration: none;
			color: #fff;
		}
	}
	.gnav-sp-item {
		vertical-align: middle;
	}
	.gnav-sp-intro {
		width: 100%;
		li {
			box-sizing: border-box;
			float: left;
			width: 25%;
			background-color: #fff;
			border: 0.5px solid #eee;
			text-align: center;
		}
	}
}

#footer {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background: #acc0cd;
	.sns-share {
		.sns-share-btn {
			display: inline-block;
			width: 130px;
			@include media(tb) {
				width: 110px;
				img {
					max-width: 70px;
				}
			}
			margin: 40px 0;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.link {
		margin-bottom: 40px;
		p img {
			width: 140px;
			height: auto;
			margin-bottom: 10px;
		}
		a {
			cursor: pointer;
			img {
				width: 200px;
				height: auto;
			}
		}
	}
	.copyright {
		color: #fff;
		font-size: 12px;
	}
}


.circle-wrapper {
	position: absolute;
	z-index: 100000;
	width: 36.955vw;
	height: 36.955vw;
	circle {
		fill: red;
	}
}