@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'intro';

/* 以下にスタイルを記述
************************* */

body {
	background-color: #eff2f5;
	letter-spacing: 1px;
	font-weight: bold;
	@include media(u-tablet) {
		img {
			display: block;
			width: 96%;
			height: auto;
			margin: 0 auto;
		}
	}
}

.p-bg1,
.p-bg2,
.p-bg3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
}

.p-bg1 {
	background: url("../images/common/bg1.png");
}

.p-bg2 {
	background: url("../images/common/bg2.png");
}

.p-bg3 {
	background: url("../images/common/bg3.png");
}

#banner {
	height: 53.125vw;
	@include media(u-tablet) {
		height: 178vw;
	}
	background-color: #eff2f5;
	.symbols {
		min-width: 1100px;
		img {
			position: absolute;
			display: none;
			&.symbol_01 {
				top: 3vw;
				left: 3vw;
				width: 14.9vw;
				@include media(u-tablet) {
					left: 4vw;
					width: 23vw;
				}
			}
			&.symbol_02 {
				top: 3vw;
				left: 19.5vw;
				width: 18vw;
				@include media(u-tablet) {
					top: 94vw;
					left: 67vw;
					width: 30vw;
				}
			}
			&.symbol_03 {
				top: 21.5vw;
				left: 3vw;
				width: 16.4vw;
				@include media(u-tablet) {
					top: 97vw;
					width: 27vw;
				}
			}
			&.symbol_04 { //up
				top: 18vw;
				left: 18.5vw;
				width: 12.35vw;
				@include media(u-tablet) {
					top: 32vw;
					left: 82vw;
					width: 15vw;
				}
			}
			&.symbol_05 { //art
				top: 37.5vw;
				left: 3vw;
				width: 20.083vw;
				@include media(u-tablet) {
					top: 121vw;
					left: 3vw;
					width: 29vw;
				}
			}
			&.symbol_06 { //consumer
				top: 40.5vw;
				left: 27.5vw;
				width: 26.75vw;
				@include media(u-tablet) {
					top: 15.5vw;
					left: 56vw;
					width: 40vw;
				}
			}
			&.symbol_07 { //car
				top: 40.5vw;
				right: 29vw;
				width: 12.833vw;
				@include media(u-tablet) {
					top: 30vw;
					right: 79vw;
					width: 17vw;
				}
			}
			&.symbol_08 { //game
				top: 40.5vw;
				right: 3vw;
				width: 22.75vw;
				@include media(u-tablet) {
					top: 126vw;
					right: 4vw;
					width: 35vw;
				}
			}
			&.symbol_09 { //elect
				top: 19.5vw;
				right: 3vw;
				width: 12vw;
				@include media(u-tablet) {
					top: 3vw;
					right: 51.5vw;
					width: 17.5vw;
				}
			}
			&.symbol_10 { //music
				top: 21vw;
				right: 19vw;
				width: 11.916vw;
				@include media(u-tablet) {
					top: 116vw;
					left: 10vw;
					width: 18vw;
				}
			}
			&.symbol_11 { //color
				top: 7.5vw;
				right: 3vw;
				width: 27.2vw;
				@include media(u-tablet) {
					top: 107vw;
					right: 3vw;
					width: 39vw;
				}
			}
			&.symbol_12 {
				top: 3vw;
				right: 8.5vw;
				width: 25.48vw;
				@include media(u-tablet) {
					right: 4vw;
					width: 44vw;
				}
			}
		}
	}
	.title {
		$area: 34.218vw;
		width: $area;
		height: $area;
		position: absolute;
		top: 4vw;
		left: 50%;
		transform: translateX(-50%);
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: 0% 0%;
			transform: translate(-50%, -50%);
			&.takuten {
				width: 100%;
			}
			&.dots {
				width: 108%;
				animation: rotation 50s linear infinite;
			}
			@keyframes rotation {
				from {
					transform: rotate(0deg) translate(-50%, -50%);
				}
				to {
					transform: rotate(360deg) translate(-50%, -50%);
				}
			}
		}
		@include media(u-tablet) {
			$area: 60vw;
			width: $area;
			height: $area;
			top: 37vw;
		}
	}
}

$sidebar: 330px;
#main {
	width: calc(100% - #{$sidebar});
	float: right;
	@include media(u-tablet) {
		width: 100%;
		float: none;
	}
	.main-inner {
		width: 870px;
		@include media(u-tablet) {
			width: 95%;
		}
		margin: 0 auto;
	}
	h2 {
		margin: 15px 0 50px 0;
		text-align: center;
		@include media(u-tablet) {
			img {
				width: 54%;
				max-width: 272px;
				height: auto;
			}
		}
	}
	.media-pc {
		@include media(u-tablet) {
			display: none;
		}
	}
	.media-u-tablet {
		@include media(pc) {
			display: none;
		}
	}
}

.about {
	p {
		margin: 30px 0;
		line-height: 2.1em;
	}
	table {
		td {
			padding: 7px 0;
			text-shadow: 3px 2.5px 0 rgba(255,255,255,1);
		}
		a {
			color: $blue;
		}
	}
	@include media(u-tablet) {
		h3 {
			text-align: center;
			img {
				max-width: 627px;
			}
		}
		p,
		table {
			width: 95%;
			margin: 30px auto;
		}
	}
}

.map {
	margin: 50px 0;
	.floor-map {
		text-align: center;
	}
	@include media(u-tablet) {
		.media-u-tablet img {
			max-width: 718px;
		}
	}
}

.intro {
	.intro-detail {
		position: relative;
		opacity: 0;
		.p-text,
		.p-logo,
		.p-img1,
		.p-img2,
		.p-img3 {
			position: absolute;
			img {
				width: 92%;
				height: auto;
			}
		}
		.intro-text {
			h3 {
				font-size: 29px;
				margin: .8em 0 .7em 0;
				text-shadow: 4px 4px 0 rgba(255, 255, 255, 1);
				line-height: 1.1em;
			}
			p {
				line-height: 1.95em;
				text-align: justify;
			}
		}
	}
}

.access {
	padding-bottom: 100px;
	.googlemap {
		width: 88%;
		height: 350px;
		margin: 0 auto;
		background-color: #eee;
	}
	.bus-recommend {
		width: 88%;
		margin: 36px auto 12px auto;
		span {
			display: inline-block;
			vertical-align: top;
			padding: 3px 0 0 5px;
		}
		.bus-detail {
			margin: 16px 0 0;
		}
		@include media(u-tablet) {
			width: 95%;
			.bus-icon {
				max-width: 26px;
			}
		}
	}
}

#sidebar {
	@include media(u-tablet) {
		display: none;
	}
	width: 330px;
	position: absolute;
	padding-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	.progress {
		position: relative;
		.progress-title {
			width: 155px;
			position: relative;
			padding-top: 20px;
			padding-left: 20px;
			z-index: 1;
		}
		.progress-dots {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			circle {
				fill: #e1e6e6;
				r: 4.5;
				transition: .3s ease;
				transition-property: fill, r;
				&.visible {
					fill: #053077;
				}
				&.now {
					r: 7;
				}
				&:hover {
					r: 7;
					fill: #053077;
				}
			}
		}
	}
	.gnav {
		font-size: 13px;
		letter-spacing: 1.9px;
		position: relative;
		top: 82px;
		left: 65px;
		li {
			width: 90px;
			margin: 28px 0;
			text-align: center;
		}
		a {
			padding-bottom: 2px;
			color: $base-font-color;
			text-decoration: none;
			text-shadow: 2.5px 2.5px 0 rgba(255, 255, 255, 1);
		}
	}
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
	&.static {
		position: static;
	}
}

#footer {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background: #acc0cd;
	.sns-share {
		.sns-share-btn {
			display: inline-block;
			width: 130px;
			@include media(u-tablet) {
				img {
					max-width: 80px;
				}
			}
			margin: 60px 0 80px 0;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.copyright {
		color: #fff;
		font-size: 12px;
	}
}
