@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'intro';

/* 以下にスタイルを記述
************************* */

body {
	background-color: #eff2f5;
	letter-spacing: 1px;
}

#banner {
	height: 53.125vw;

	.symbols {
		min-width: 1100px;
		img {
			position: absolute;
			display: none;
			&.symbol_01 { top: 3vw; left: 3vw; width: 14.9vw; }
			&.symbol_02 { top: 3vw; left: 19.5vw; width: 18vw; }
			&.symbol_03 { top: 21.5vw; left: 3vw; width: 16.4vw; }
			&.symbol_04 { top: 18vw; left: 18.5vw; width: 12.35vw; }
			&.symbol_05 { top: 37.5vw; left: 3vw; width: 20.083vw; }
			&.symbol_06 { top: 40.5vw; left: 27.5vw; width: 26.75vw; }
			&.symbol_07 { top: 40.5vw; right: 29vw; width: 12.833vw; }
			&.symbol_08 { top: 40.5vw; right: 3vw; width: 22.75vw; }
			&.symbol_09 { top: 19.5vw; right: 3vw; width: 12vw; }
			&.symbol_10 { top: 21vw; right: 19vw; width: 11.916vw; }
			&.symbol_11 { top: 7.5vw; right: 3vw; width: 27.2vw; }
			&.symbol_12 { top: 3vw; right: 9.5vw; width: 25.48vw; }
		}
	}

	.title {
		$area: 34.218vw;
		width: $area;
		height: $area;
		position: absolute;
		top: 4vw;
		left: 50%;
		transform: translateX(-50%);
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: 0% 0%;
			transform: translate(-50%, -50%);
			&.takuten {
				width: 100%;
			}
			&.dots {
				width: 108%;
				animation: rotation 50s linear infinite;
			}
			@keyframes rotation {
				from {
					transform: rotate(0deg) translate(-50%, -50%);
				}
				to {
					transform: rotate(360deg) translate(-50%, -50%);
				}
			}
		}
	}
}

$sidebar: 330px;
#main {
	width: calc(100% - #{$sidebar});
	float: right;
	font-weight: bold;
	.main-inner {
		width: 870px;
		margin: 0 auto;
	}
	h2 {
		margin: 10px 0 50px 0;
		text-align: center;
	}
}

.about {
	p {
		margin: 30px 0;
		line-height: 2.1em;
	}
}

.about,
.map,
.access {
}

.intro {
	.intro-detail {
		position: relative;
		.p-text,
		.p-logo,
		.p-img1,
		.p-img2,
		.p-img3 {
			position: absolute;
			&::after {
				content: '';
				display: block;
				position: relative;
				left: 20px;
				bottom: 270px;
				z-index: -1;
				width: 100%;
				height: 290px;
				background: repeat 0 0;
			}
			&.b::after {
				background-image: url('../images/detail/bg/b.png');
			}
			&.g::after {
				background-image: url('../images/detail/bg/g.png');
			}
			&.s::after {
				background-image: url('../images/detail/bg/s.png');
			}
			&.mini::after {
				height: 250px;
				bottom: 230px;
			}
		}
		.intro-text {
			h3 {
				font-size: 30px;
				margin: .8em 0 .8em 0;
				text-shadow: 3px 4px 0 rgba(255,255,255,1);
				line-height: 1.1em;
			}
			p {
				line-height: 1.95em;
			}
		}
	}
}


#sidebar {
	width: 330px;
	position: absolute;
	padding-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	.progress {
		position: relative;
		.progress-title {
			padding-top: 20px;
			padding-left: 20px;
		}
		.progress-dots {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.gnav {
		text-align: center;
		line-height: 2em;
		margin-top: 100px;
	}
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
	&.static {
		position: static;
	}
}

#footer {
	width: 100%;
	overflow: hidden;
	text-align: center;
}