@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';

/* 以下にスタイルを記述
************************* */

#banner {
	.symbols {

		img {
			position: absolute;
			&.symbol_01 { top: 6vw; left:4vw; width: 15.083vw; }
			&.symbol_02 { top: 6vw; left:22vw; width: 18.5vw; }
			&.symbol_03 { top: 23vw; left:4vw; width: 16.666vw; }
			&.symbol_04 { top: 22vw; left:23vw; width: 12.75vw; }
			&.symbol_05 { top: 40vw; left:4vw; width: 20.083vw; }
			&.symbol_06 { top: 40vw; left:28vw; width: 26.75vw; }
			&.symbol_07 { top: 40vw; right:28vw; width: 12.833vw; }
			&.symbol_08 { top: 40vw; right: 4vw; width: 22.75vw; }
			&.symbol_09 { top: 18vw; right:4vw; width: 12vw; }
			&.symbol_10 { top: 20vw; right:20vw; width: 11.916vw; }
			&.symbol_11 { top: 7vw; right:4vw; width: 27.75vw; }
			&.symbol_12 { top: 3vw; right:10vw; width: 25.916vw; }
		}
	}

	.title {

	}
}