<meta charset="UTF-8">
<title>卓展2016｜名古屋市立大学芸術工学部の学生による12のプロジェクトの成果発表・展示会</title>
<meta name="description" content="「卓展」とは、名古屋市立大学芸術工学部の学生による作品展示会です。学部４年生をリーダーとして多種多様なジャンルのプロジェクトを立ち上げ、学科・学年の垣根を越えて制作を行います。今年も見どころたっぷりの展示会ですので、是非お越しください。">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="卓展2016｜名古屋市立大学芸術工学部の学生による12のプロジェクトの成果発表・展示会" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://taku-ten.com" />
<meta property="og:image" content="http://taku-ten.com/images/social/og-image_fb.png" />
<meta property="og:description" content="「卓展」とは、名古屋市立大学芸術工学部の学生による作品展示会です。学部４年生をリーダーとして多種多様なジャンルのプロジェクトを立ち上げ、学科・学年の垣根を越えて制作を行います。今年も見どころたっぷりの展示会ですので、是非お越しください。" />
<meta property="og:site_name" content="卓展2016" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@takuten_geikou" />
<meta name="twitter:creator" content="@takuten_geikou" />
<meta name="twitter:title" content="卓展2016" />
<meta name="twitter:description" content="「卓展」とは、名古屋市立大学芸術工学部の学生による作品展示会です。学部４年生をリーダーとして多種多様なジャンルのプロジェクトを立ち上げ、学科・学年の垣根を越えて制作を行います。今年も見どころたっぷりの展示会ですので、是非お越しください。" />
<meta name="twitter:image:src" content="http://taku-ten.com/images/social/og-image_tw.png" />
<link rel="icon" type="image/vnd.microsoft.icon" href="./images/common/favicon.ico">
<link rel="stylesheet" href="./css/style.css">
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-80038830-1', 'auto');
	ga('send', 'pageview');
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFoCHP4BiyG-LpYEf2OBaVb3YjFSHgis8"></script>
