<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body class="clearfix">
	<section id="banner">
		<div class="symbols">
			<img src="./images/top/01.png" alt="" class="js-randomFade symbol_01">
			<img src="./images/top/02.png" alt="" class="js-randomFade symbol_02">
			<img src="./images/top/03.png" alt="" class="js-randomFade symbol_03">
			<img src="./images/top/04.png" alt="" class="js-randomFade symbol_04">
			<img src="./images/top/05.png" alt="" class="js-randomFade symbol_05">
			<img src="./images/top/06.png" alt="" class="js-randomFade symbol_06">
			<img src="./images/top/07.png" alt="" class="js-randomFade symbol_07">
			<img src="./images/top/08.png" alt="" class="js-randomFade symbol_08">
			<img src="./images/top/09.png" alt="" class="js-randomFade symbol_09">
			<img src="./images/top/10.png" alt="" class="js-randomFade symbol_10">
			<img src="./images/top/11.png" alt="" class="js-randomFade symbol_11">
			<img src="./images/top/12.png" alt="" class="js-randomFade symbol_12">
		</div>
		<div class="title">
			<img class="takuten" src="./images/top/takuten.png" alt="">
			<img class="dots" src="./images/top/dots.png" alt="">
		</div>
	</section>
	<main id="main">
		<section class="about">
			<h2>卓展とは</h2>
		</section>
		<section class="map">
			<h2>map</h2>
		</section>
		<section class="detail">
			<h2>detail</h2>
			<section class="branco">
				<img src="" alt="">
			</section>
		</section>
		<section class="access">
			<h2>access</h2>
		</section>		
	</main>
	<aside id="sidebar">
		<nav>
			<h1><img src="./images/common/menu.png" alt=""></h1>
			<ul class="sidebar-menu">
				<li>卓展とは</li>
				<li>会場マップ</li>
				<li>卓の紹介</li>
				<li>アクセス</li>
			</ul>
		</nav>
	</aside>
	<% include _script %>
	<div class="box"></div>
</body>
</html>