<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body class="clearfix">
	<section id="banner">
		<div class="symbols">
			<img src="./images/top/01.png" alt="" class="js-randomFade symbol_01">
			<img src="./images/top/02.png" alt="" class="js-randomFade symbol_02">
			<img src="./images/top/03.png" alt="" class="js-randomFade symbol_03">
			<img src="./images/top/04.png" alt="" class="js-randomFade symbol_04">
			<img src="./images/top/05.png" alt="" class="js-randomFade symbol_05">
			<img src="./images/top/06.png" alt="" class="js-randomFade symbol_06">
			<img src="./images/top/07.png" alt="" class="js-randomFade symbol_07">
			<img src="./images/top/08.png" alt="" class="js-randomFade symbol_08">
			<img src="./images/top/09.png" alt="" class="js-randomFade symbol_09">
			<img src="./images/top/10.png" alt="" class="js-randomFade symbol_10">
			<img src="./images/top/11.png" alt="" class="js-randomFade symbol_11">
			<img src="./images/top/12.png" alt="" class="js-randomFade symbol_12">
		</div>
		<div class="title">
			<img class="takuten" src="./images/top/takuten.png" alt="">
			<img class="dots" src="./images/top/dots.png" alt="">
		</div>
	</section>
	<main id="main">
		<div class="main-inner">
			<section class="about">
				<h2>卓展とは</h2>
			</section>
			<section class="map">
				<h2>map</h2>
			</section>
			<section class="intro">
				<section id="branco" class="intro-detail js-parallax">
					<div class="p-text intro-text">
						<h3>ブランディングデザインを学ぶ。</h3>
						<p>地域の商店街を参考に、店舗のブランドづくりの流れをグラフィックデザインの観点からみて学び、制作します。成果物は実在する店舗に新たな独自のコンセプトを設定したそれぞれのブランディングデザインに関わるもの全て。ロゴ、VI、パッケージなど必要なアプリケーションを、統一した世界観を持って制作することで様々な媒体への印刷の知識や素材の仕組みも勉強していきます。</p>	
					</div>
					<img class="p-logo" src="./images/detail/branco/logo.png" alt="">
					<img class="p-img1" src="./images/detail/branco/1.png" alt="">
					<img class="p-img2" src="./images/detail/branco/2.png" alt="">
					<img class="p-img3" src="./images/detail/branco/3.png" alt="">
				</section>
				<section id="brica" class="intro-detail js-parallax">
					<div class="p-text intro-text">
						<h3>しょうめいをつくる</h3>
						<p>照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜照明をつくります〜</p>	
					</div>
					<img class="p-logo" src="./images/detail/brica/logo.png" alt="">
					<img class="p-img1" src="./images/detail/brica/1.png" alt="">
					<img class="p-img2" src="./images/detail/brica/2.png" alt="">
					<img class="p-img3" src="./images/detail/brica/3.png" alt="">
				</section>
			</section>
			<section class="access">
				<h2>access</h2>
			</section>
		</div>		
	</main>
	<aside id="sidebar" class="fixed">
		<nav>
			<h1><img src="./images/common/menu.png" alt=""></h1>
			<ul class="sidebar-menu">
				<li>卓展とは</li>
				<li>会場マップ</li>
				<li>卓の紹介</li>
				<li>アクセス</li>
			</ul>
		</nav>
	</aside>
	<% include _script %>
	<div class="box"></div>
</body>
</html>