<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<section id="banner">
		<div class="symbols media-pc">
			<img src="./images/top/01.png" alt="" class="js-randomFade symbol_01">
			<img src="./images/top/02.png" alt="" class="js-randomFade symbol_02">
			<img src="./images/top/03.png" alt="" class="js-randomFade symbol_03">
			<img src="./images/top/04.png" alt="" class="js-randomFade symbol_04">
			<img src="./images/top/05.png" alt="" class="js-randomFade symbol_05">
			<img src="./images/top/06.png" alt="" class="js-randomFade symbol_06">
			<img src="./images/top/07.png" alt="" class="js-randomFade symbol_07">
			<img src="./images/top/08.png" alt="" class="js-randomFade symbol_08">
			<img src="./images/top/09.png" alt="" class="js-randomFade symbol_09">
			<img src="./images/top/10.png" alt="" class="js-randomFade symbol_10">
			<img src="./images/top/11.png" alt="" class="js-randomFade symbol_11">
			<img src="./images/top/12.png" alt="" class="js-randomFade symbol_12">
		</div>
		<div class="symbols-sp media-tb">
			<img src="./images/top/sp/01.png" alt="" class="js-randomFade symbol_01">
			<img src="./images/top/sp/02.png" alt="" class="js-randomFade symbol_02">
			<img src="./images/top/sp/03.png" alt="" class="js-randomFade symbol_03">
			<img src="./images/top/sp/04.png" alt="" class="js-randomFade symbol_04">
			<img src="./images/top/sp/05.png" alt="" class="js-randomFade symbol_05">
			<img src="./images/top/sp/06.png" alt="" class="js-randomFade symbol_06">
			<img src="./images/top/sp/07.png" alt="" class="js-randomFade symbol_07">
			<img src="./images/top/sp/08.png" alt="" class="js-randomFade symbol_08">
			<img src="./images/top/sp/09.png" alt="" class="js-randomFade symbol_09">
			<img src="./images/top/sp/10.png" alt="" class="js-randomFade symbol_10">
			<img src="./images/top/sp/11.png" alt="" class="js-randomFade symbol_11">
			<img src="./images/top/sp/12.png" alt="" class="js-randomFade symbol_12">
		</div>
		<div class="title js-title">
			<img class="takuten" src="./images/top/takuten.png" alt="">
			<img class="dots" src="./images/top/dots.png" alt="">
		</div>
	</section>
	<div class="container clearfix">
		<main id="main">
			<div class="p-bg1 js-parallax js-parallax-sp" data-enllax-ratio="-0.009" data-enllax-type="background"></div>
			<div class="p-bg2 js-parallax js-parallax-sp" data-enllax-ratio="-0.02" data-enllax-type="background"></div>
			<div class="p-bg3 js-parallax js-parallax-sp" data-enllax-ratio="-0.04" data-enllax-type="background"></div>
			<div class="main-inner">
				<section class="about js-progress" id="about">
					<h2><img src="./images/about/h2.png" alt="開催概要"></h2>
					<h3 class="media-pc"><img src="./images/about/h3.png" alt="デザインを学ぶ学生による12のプロジェクトの成果発表・展示会"></h3>
					<h3 class="media-tb"><img src="./images/about/h3-sp.png" alt="デザインを学ぶ学生による12のプロジェクトの成果発表・展示会"></h3>
					<p>「卓展」とは、名古屋市立大学芸術工学部の学生による作品展示会です。<br>
						プロジェクトに賛同した人々が卓を囲むように集まることから「卓展」となりました。</p>
					<p>学部４年生をリーダーとして多種多様なジャンルのプロジェクトを立ち上げ、<br>学科・学年の垣根を越えて制作を行います。</p>
					<p>今年も見どころたっぷりの展示会ですので、是非お越しください。</p>
					<table>
						<tr>
							<td>日時：</td>
							<td>2016年8月19日(金) ~ 8月21日(日)</td>
						</tr>
						<tr>
							<td></td>
							<td>10:00~17:00（最終日 16:00閉場）</td>
						</tr>
						<tr>
							<td>会場：</td>
							<td>名古屋市立大学 北千種キャンパス 芸工棟</td>
						</tr>
						<tr>
							<td></td>
							<td><a href="https://www.google.com/maps?q=35.180972,136.947420">愛知県名古屋市千種区北千種2‐1‐10</a></td>
						</tr>
					</table>
				</section>
				<section class="map js-progress" id="map">
					<h2><img src="./images/map/h2.png" alt="会場マップ"></h2>
					<p class="floor-map media-pc"><img src="./images/map/map.png" alt="会場マップ"></p>
					<p class="floor-map media-tb"><img src="./images/map/map-sp.png" alt="会場マップ"></p>
				</section>
				<section class="intro js-randomList" id="intro">
					<h2><img src="./images/detail/h2.png" alt="卓紹介"></h2>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="branco">
						<div class="p-logo"><img src="./images/detail/branco/logo.png" alt="" data-enllax-ratio="0.05" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/branco/1.png" alt="" data-enllax-ratio="-0.03" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>ブランディングデザインを学ぶ。</h3>
							<p>地域の商店街を参考に、店舗のブランドづくりの流れをグラフィックデザインの観点からみて学び、制作します。成果物は実在する店舗に新たな独自のコンセプトを設定したそれぞれのブランディングデザインに関わるもの全て。ロゴ、VI、パッケージなど必要なアプリケーションを、統一した世界観を持って制作することで様々な媒体への印刷の知識や素材の仕組みも勉強していきます。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/branco/2.png" alt="" data-enllax-ratio="-0.08" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/branco/3.png" alt="" data-enllax-ratio="0.08" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="brica">
						<div class="p-logo"><img src="./images/detail/brica/logo.png" alt="" data-enllax-ratio="0.05" data-enllax-type="foreground"></div>
						<div class="p-img1 s"><img src="./images/detail/brica/1.png" alt="" data-enllax-ratio="-0.03" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>プロダクト・インテリアデザインを学ぶ。</h3>
							<p>この卓は、プロダクトデザイン視点から照明器具を作る卓です。テーマは、特別な時間を演出する照明で、自分の実体験や経験から様々なアイデアを展開していき、具体的なシーンを設定します。そこからセグメンテーションによって、照明の光り方・形を客観的に捉え、インテリアマッチの観点から素材・形状検討をし、最終製作へ移っていきます。芸工では、コンセプトワークや調査などの部分に時間をかける傾向にあるため、 本卓では" 作る”という工程に重きをおいています。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/brica/2.png" alt="" data-enllax-ratio="-0.08" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/brica/3.png" alt="" data-enllax-ratio="0.08" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="san65">
						<div class="p-logo"><img src="./images/detail/365/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1 s"><img src="./images/detail/365/1.png" alt="" data-enllax-ratio="-0.06" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>プロダクトデザインを基礎から学ぶ。</h3>
							<p>プロダクトデザインを基礎から学び、体験する卓。<br>
							「365日、毎日使う家電」をテーマとして、様々なデザイン手法を通して生活者のニーズを探り当てることでより深く質の高いアイデアから、多くの共感を得ることのできるアウトプットにつなげる。“明日から使いたい” を目標に、今までにない価値のある生活家電を提案する。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/365/2.png" alt="" data-enllax-ratio="-0.09" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/365/3.png" alt="" data-enllax-ratio="0.1" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="gafe">
						<div class="p-logo"><img src="./images/detail/gafe/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/gafe/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>ゲーミフィケーションを用いたゲーム制作。</h3>
							<p>チームそれぞれにおいて、まず現代社会に存在する問題点について様々な案を出し、その中から扱う社会問題を決定し、その社会問題をゲームを通してどう解決していくか、ゲームを通してユーザーに届けるためにはどういうゲームシステムにするかなど、ゲーミフィケーションの考えのもとゲームを制作を行っている卓です。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/gafe/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/gafe/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="doodle">
						<div class="p-logo"><img src="./images/detail/doodle/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/doodle/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>遊び心を取り入れたWeb制作</h3>
							<p>Googleのアプリケーションに多く見られる遊び心を参考にし取り入れたWeb制作を行う卓です。Webサイト・アプリケーション・ゲームなどジャンルは問わず、個人制作・グループ制作も問いません。また、DoodleでのWeb制作は実践から入るので、UXデザインという小難しい考え方をより身近に感じることができます。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/doodle/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/doodle/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="res">
						<div class="p-logo"><img src="./images/detail/res/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/res/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>使ったものから新たなものを生み出す。</h3>
							<p>使ったものを再利用して、新たなものを作る卓です。周りにあるものを見つめ直し、アイデアの出し方を学びます。前半はグループ制作、後半は個人制作を行います。グループ制作では制作物を『椅子』と指定、個人制作では制作物の指定はせず『自分の欲しいもの』をテーマに家具や雑貨などを制作します。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/res/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/res/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="careco">
						<div class="p-logo"><img src="./images/detail/careco/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1 s"><img src="./images/detail/careco/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>カーデザインを学ぶ。</h3>
							<p>車をデザインする卓です。プロダクトデザインとカラーデザインの二種類から選んでもらい個人制作をします。プロダクトデザイン最終提案物は提案パネルとクレイモック、カラーデザインは提案パネルと外板モデル、簡単なモデルになります。週二回活動しており、火曜日は提案のプレゼン・エスキース等、金曜日はスケッチ力を向上するためにスケッチ会を行っています。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/careco/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/careco/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="irodori">
						<div class="p-logo"><img src="./images/detail/irodori/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/irodori/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>色について学び、想像し、表現する。</h3>
							<p>色について学ぶことで、色の持つ意味や効果を想像したり、他人と共有したり、自信や根拠を持った配色ができるようになることが目標である。制作では、グラフィックを考えたり、各々が表現に適すると思う素材を選択・加工したりしながら、そこで使用する色を意識した作品作りを行う。展示空間も、色を生かしたこだわりのあるものにしたいと考えている。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/irodori/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/irodori/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="mixm">
						<div class="p-logo"><img src="./images/detail/mixm/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/mixm/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>"予感"をテーマにしたアート作品制作。</h3>
							<p>芸工生それぞれの専攻するものをミックスし、アート作品を制作する卓。作品のテーマには"予感"を設定し、メンバーそれぞれの思う"予感"について表現する。映像、サウンド、プログラミング、造形美術、テキスタイルなど、あらゆるジャンルの組合せの可能性を探る。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/mixm/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/mixm/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="glyph">
						<div class="p-logo"><img src="./images/detail/glyph/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1 s"><img src="./images/detail/glyph/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>文字遊びを楽しむ。</h3>
							<p>文字に関連した作品を作る卓です。タイポグラフィやフォント制作に関することを勉強していきます。初めに全員で同じテーマのもと、自由にアイデア出しを行い一つのフォントを制作します。最終制作物にはテーマなどは設けず、自由に個人制作を行ってもらいます。また、展示の空間デザインや卓のポートフォリオ制作も行う予定です。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/glyph/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/glyph/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="wavwav">
						<div class="p-logo"><img src="./images/detail/wavwav/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/wavwav/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>音楽制作を学ぶ。</h3>
							<p>3~4人ずつのグループに別れて音楽を制作する卓。グループごとにテーマを掲げ、そのテーマにそってメンバー各々が制作した楽曲を合わせて１つの作品とする。殆どのメンバーがDTMによる音楽制作に初挑戦ながら、短期間の間で基本的なDAWの操作からスケールなどの簡単な音楽理論などを学び、1から音楽制作に取り組む。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/wavwav/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/wavwav/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
					<section class="intro-detail js-parallax js-progress js-randomListItem js-scrollFadein" id="jackin">
						<div class="p-logo"><img src="./images/detail/jackin/logo.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
						<div class="p-img1"><img src="./images/detail/jackin/1.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-text intro-text" data-enllax-ratio="0" data-enllax-type="foreground">
							<h3>触れて、見て、楽しいモノづくり。</h3>
							<p>身の回りのモノから音を創りだすモノを作る卓。我々の生きるこの世界は様々なモノで溢れています。この卓はそういったモノたちから音を創ることによって新たな楽しみを提供することを目的としています。触れて楽しい、見て楽しいものを制作します。ぜひ会場に遊びにきてください。</p>
						</div>
						<div class="p-img2"><img src="./images/detail/jackin/2.png" alt="" data-enllax-ratio="-0.07" data-enllax-type="foreground"></div>
						<div class="p-img3"><img src="./images/detail/jackin/3.png" alt="" data-enllax-ratio="0.07" data-enllax-type="foreground"></div>
					</section>
				</section>
				<section class="access js-progress" id="access">
					<h2><img src="./images/access/h2.png" alt="アクセス"></h2>
					<div class="googlemap" id="map_canvas"></div>
					<!-- <iframe class="googlemap" style="display: block;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.02101660888!2d136.9478316693522!3d35.18102872286779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003705a45b7e0cd%3A0xcea9a0e7712b9848!2z5ZCN5Y-k5bGL5biC56uL5aSn5a2mIOWMl-WNg-eoruOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1467177663691" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe> -->
					<div class="bus-recommend">
						<span class="bus-icon"><img src="./images/access/bus_icon.png" alt=""></span><span>バスのご利用をおすすめします</span>
						<p class="bus-detail media-pc"><img src="./images/access/bus_detail.png" alt="バスを使ってくる場合"></p>
						<p class="bus-detail media-tb"><img src="./images/access/bus_detail_sp.png" alt="バスを使ってくる場合"></p>
					</div>
				</section>
			</div>
		</main>
		<aside id="sidebar" class="static js-nav">
			<nav>
				<div class="progress">
					<svg class="progress-dots js-progress-dots" width="330px" height="330px">
						<a class="js-progressAnchor" href=""><circle r="5" cx="238" cy="10" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="253" cy="38" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="262" cy="68" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="265" cy="100" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="261" cy="132" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="252" cy="162" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="236" cy="190" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="215" cy="214" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="190" cy="234" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="161" cy="248" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="131" cy="256" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="99" cy="258" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="67" cy="254" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="37" cy="244" /></a>
						<a class="js-progressAnchor" href=""><circle r="5" cx="10" cy="227" /></a>
					</svg>
					<h1 class="progress-title"><a href="http://taku-ten.com"><img src="./images/common/menu.png" alt=""></a></h1>
				</div>
				<ul class="gnav">
					<li><a href="#about">開催概要</a></li>
					<li><a href="#map">会場マップ</a></li>
					<li><a href="#intro">卓紹介</a></li>
					<li><a href="#access">アクセス</a></li>
					<li class="social">
						<a href="https://twitter.com/takuten_geikou"><img src="./images/common/twitter.png" alt=""></a>
						<a href="https://www.facebook.com/takuproject.geikou/"><img src="./images/common/facebook.png" alt=""></a>
					</li>
				</ul>
			</nav>
		</aside>
		<header class="media-tb js-sp-nav" id="nav-sp">
			<h1><img src="./images/common/logo-sp.png" alt=""></h1>
			<div class="trigger">
				<img src="./images/common/trigger.png" alt="">
			</div>
		</header>
		<nav class="gnav-sp media-tb">
				<ul class="gnav-sp-menu clearfix">
 					<li><a class="gnav-sp-item" href="#about"><span>開催概要</span></a></li>
					<li><a class="gnav-sp-item" href="#map"><span>会場マップ</span></a></li>
					<li><a class="gnav-sp-item" href="#intro"><span>卓紹介</span></a></li>
					<li><a class="gnav-sp-item" href="#access"><span>アクセス</span></a></li>
				</ul>
				<ul class="gnav-sp-intro clearfix">
					<li><a class="gnav-sp-item" href="#san65"><img src="./images/common/nav-sp/365.png" alt="365"></a></li>
					<li><a class="gnav-sp-item" href="#branco"><img src="./images/common/nav-sp/branco.png" alt="branco"></a></li>
					<li><a class="gnav-sp-item" href="#brica"><img src="./images/common/nav-sp/brica.png" alt="brica"></a></li>
					<li><a class="gnav-sp-item" href="#careco"><img src="./images/common/nav-sp/careco.png" alt="careco"></a></li>
					<li><a class="gnav-sp-item" href="#doodle"><img src="./images/common/nav-sp/doodle.png" alt="doodle"></a></li>
					<li><a class="gnav-sp-item" href="#gafe"><img src="./images/common/nav-sp/gafe.png" alt="gafe"></a></li>
					<li><a class="gnav-sp-item" href="#glyph"><img src="./images/common/nav-sp/glyph.png" alt="glyph"></a></li>
					<li><a class="gnav-sp-item" href="#irodori"><img src="./images/common/nav-sp/irodori.png" alt="irodori"></a></li>
					<li><a class="gnav-sp-item" href="#jackin"><img src="./images/common/nav-sp/jackin.png" alt="jackin"></a></li>
					<li><a class="gnav-sp-item" href="#mixm"><img src="./images/common/nav-sp/mixm.png" alt="mixm"></a></li>
					<li><a class="gnav-sp-item" href="#res"><img src="./images/common/nav-sp/res.png" alt="res"></a></li>
					<li><a class="gnav-sp-item" href="#wavwav"><img src="./images/common/nav-sp/wavwav.png" alt="wavwav"></a></li>
				</ul>
		</nav>
	</div>
	<footer id="footer">
		<div class="sns-share">
			<ul>
				<script>
					var w = 500, h = 350;
					var wPosX = (window.innerWidth-w)/2, wPosY = (window.innerHeight-h)/2;
					function twitterPopup(){
						var url = 'https://twitter.com/share?';
						url += 'text=' + encodeURI('卓展2016｜デザインを学ぶ学生による12のプロジェクトの成果発表・展示会');
						url += '&url=' + encodeURI('http://taku-ten.com/');
						url += '&hashtags=' + '卓展2016, 卓展';
						window.open(url, 'tweetwin', 'width='+w+',height='+h+',left='+wPosX+',top='+wPosY+',menubar=no,toolbar=no,scrollbars=yes');
					}
					function facebookPopup() {
						var url = 'http://www.facebook.com/share.php?';
						url += '&u=' + encodeURI('http://taku-ten.com/');
						window.open(url, 'FBwindow', 'width='+w+',height='+h+',left='+wPosX+',top='+wPosY+',menubar=no,toolbar=no,scrollbars=yes');
					}
				</script>
				<li class="twitter sns-share-btn" onclick="twitterPopup();">
					<img src="./images/social/tweet.png" alt="ツイート">
				</li>
				<li class="facebook sns-share-btn" onclick="facebookPopup();">
					<img src="./images/social/share.png" alt="シェア">
				</li>
			</ul>
		</div>
		<div class="link">
			<p><img src="./images/common/sponsor.png" alt="スポンサー"></p>
			<a class="kenkokai" href="http://www.sda.nagoya-cu.ac.jp/dousoukai/index.html" target="_blank"><img src="./images/common/kenkokai.png" alt="萱光会"></a>
		</div>
		<small class="copyright">&copy; 2016 卓展</small>
	</footer>
	<% include _script %>
</body>
</html>